body{
  font-family:"Roboto","Noto Serif JP";
  margin: 0px;
  background-color: #121212;
  color: #333333;
  --bg-color: #121212;
  --normal-color: #333333;
  --accent-color: #ffa6b5;
  --sub-accent-color: #B2FF59;
}
hr{
  background-color: var(--normal-color);
  height: 1px;
  border-width: 0;
}


#home{
  text-align: center;
  background-color: white;
  color: #2b2b2b;
}
#home p{
  line-height: 1.2em;
  font-size: 12px;
}
#home .top{
  color: #FF91A4;
}
#home a{
  color: #1976d2;
}


#content{
  margin: 100px 0% 5%;
}
#content .floor-box{
  margin-top: 20px;
  width: 100%;
  overflow: scroll;
  white-space: nowrap;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
#content .floor-box::-webkit-scrollbar{
  display: none;
}
#content .black-square{
  cursor: pointer;
  display: inline-block;
  background-color: #121212;
  width: 150px;
  height: 150px;
  margin: 15px;
  box-shadow:1px 1px 2px #222222, -1px -1px 2px #020202;
}


#content_selected{
  text-align: center;
}
#content_selected #selected-content-name{
  color: var(--accent-color);
  margin-bottom: 0px;
}
#content_selected #selected-content-title{
  margin-top: 0px;
}
#content_selected .black-square{
  background-color: #121212;
  height:40vh;
  width:40vh;
  margin: 60px auto 15px;
}
#content_selected #selected-content-button{
  height: 40px;
  width: 30vw;
  font-size: 15px;
  border-radius: 5px;
  background-color: var(--sub-accent-color);
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
}
#content_selected #selected-content-button:hover{
  filter: brightness(0.9);
}
#content_selected #selected-content-button:active{
  filter: brightness(0.6);
}


#text {
  height: 95dvh;
  text-align: center;
}
#text .disc {
  width: 20dvh;
  height: 20dvh;
  cursor: pointer;
  position: absolute;
  display: block;
  transform: translate(-50%, -50%);
  border: solid white 0.1px;
  text-align: center;
  font-size: 18dvh;
}
#text #text-cards div{
  width: 80vw;
  height: 80dvh;
  position: fixed;
  z-index: 20;
  background-color: #121212;
  border: solid white 0.1px;
  left: 10vw;
  top: -100dvh;
  transition: top 0.2s;
}
#text #text-cards .close-button{
  text-decoration: underline;
  position: absolute;
  cursor: pointer;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
}



#exhibition {
  text-align: center;
}
#exhibition a {
  color: #333333;
}